<configuration>
  <system.runtime.remoting>
    <application>
      <service>
       <wellknown mode="Singleton" type="TestClassTwo, TestClassTwo" objectUri="TestClass" />
      </service>
      <channels>
        <channel ref="tcp" port="8080" />
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>