<configuration>
	<system.runtime.remoting>
		<application>
			<service>
				<wellknown mode="Singleton" type="SurrealistServer, SurrealistServer" 
									 objectUri="SurrealistServer" />
			</service>
			<channels>
				<channel ref="tcp" port="8080" />
			</channels>
		</application>
	</system.runtime.remoting>
</configuration>