<configuration>
	<configSections>
		<section name="dataConfiguration" 
						 type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, 
									 Microsoft.Practices.EnterpriseLibrary.Data, 
									 Version=6.0.0.0, Culture=neutral, 
									 PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
	</configSections>
	<dataConfiguration defaultDatabase="TestDatabase" />
		<connectionStrings>
			<add name="TestDatabase" 
					 connectionString="Data Source=(local)\SQLEXPRESS2014;
														 Initial Catalog=master;
														 Integrated Security=True"
					 providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
